*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 7%;
    

    /* forheaderstick */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    
}

#leftalign span{
    color: #2563eb;
    margin-left: -7px;
}

#rightalign{
    display: flex;
    align-items: center;
    gap: 40px ;
    color: #500250;
}
.menu {
    display: none;
}

@media (max-width: 768px) {   

    #rightalign {
        display: none;
    }      

    .menu {
        display: block;      
        font-size: 28px;    
        cursor: pointer;     
    }

    #rightalign.show {
        display: flex;       
        flex-direction: column; 
    }

  
}
#leftalign{
    font-size: 30px;
    font-weight: 700;
    color: #101a40;
}

#getstarted{
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    background-color: #3951DD;
    /* transition: 3 sec; */
}
button:hover{
    transform: translateY(-3px);
}

#home{
    border: none;
}

/* hero section css  1 2 */

.hero{
    display: flex;
    align-items: center;
    
}

.section-1{
    width: 50%;
    padding-left: 7%;
}
#trusted{
    color: #2563eb;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
#heading{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    #digi{
        color: #002574;
    }
}
#para{
    font-size: 25px;
    font-weight: 100;

}
.button1{
    display: flex;
    gap: 30px;

}
#b1 {
    background: linear-gradient(90deg, #1764ed, #6340cf);
    color: white;
    border: none;
    padding: 18px 40px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 700;
}

#b2 {
    background-color: white;
    color: #101a40;
    border: 1px solid #d9dce5;
    padding: 18px 40px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 700;
}

.section-2{
    width: 50%;
}

.section-2 img {
    width: 100%;
    height: auto;
}


/* section 3 css */

.section-3{
    text-align: center;
    padding: 30px 7%;

}

#powed{
    color: #64748b;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;

}

#companies {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#companies span {
    color: #b8c0cf;
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s;
}

#companies span:hover {
    color: #18213f;
}