/* body{
    background-color: bisque;
}
.main{
    background-color:rgb(216,217,217)
}


#card
{
    background-color: darkgreen;
    width: 500px;
    height: 300px;
    border: 1px solid;
     
    h3{
        color: brown;
    }

}
#card p 
{
    background-color:blue;
    color: red;
    border: 5px groove rgb(0, 0, 0);
    height: 230px;
    overflow: auto;
}

#clickBtn
{
    background-color: cadetblue;
    border: 1px rgb(18, 18, 18);
    box-shadow: 1px  1px 2px 1px grey;
}

#clickBtn:hover{
    background-color: blue;
    color: chocolate;
}

#clickBtn:active{
    background-color: brown;
    color: darkslateblue;
} */




body{
    background: #084f57;
}

.main{
    height: 100px;
    width: 100%;

    background: #011c48;
    overflow: auto;

}
#card {
    height: 100px;
    width: 100%;

    background: #b37b0c;
    overflow: auto;
}

#card  p {
    height: 100px;
    width: 100%;

    background: #8a3c3c;
    overflow: auto;
}
 #Btn
 {
    background: #6ab822;
    border: 5px solid burlywood;
    border-radius: 50px;


 }
 #Btn:hover
 {
   background: #8a0e8465;
 }
 #Btn:active
 {
    background: #14812398;
 }
